<div class="page-title">
    <div class="title_left">
        <h3>Загальна інформація про курс</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Курс [NAME]</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="" (click)="navigateToParent()"><i class="fa fa-reply-all"></i><b> Назад</b></a>
                    </li>
                    <li><a class="" (click)="openModalClose()" *appLayout="'courseScope.deleteButton'"><i class="fa fa-remove"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left"  #courseForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Назва</label>
                        <input class="form-control"
                            [(ngModel)]="modelCourse.Name"
                            name="Name"
                            required [readonly]="submitted">
                    </div>
                    <div class="form-group">
                        <label>Опис</label>
                        <textarea style="height:200px;"
                            class="resizable_textarea form-control"
                            [readonly]="submitted"
                            name="Description"
                            [(ngModel)]="modelCourse.Description"
                            placeholder="Введіть опис тут"></textarea>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="first-name">Початок</label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        <!--<ng2-datepicker [options]="datepickerOption" [(ngModel)]="datepickerModelStartDate"
                            name="datepickerModelStartDate" required
                            ></ng2-datepicker>-->
                        </div>
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="first-name">Кінець</label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        <!--<ng2-datepicker [options]="datepickerOption" [(ngModel)]="datepickerModelEndDate"
                            name="datepickerModelEndDate" required
                            ></ng2-datepicker>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="first-name">Викладач</label>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <input type="text" [(ngModel)]="modelCourse.Lecturer" name="Lecturer"
                             [readonly]="submitted" class="form-control col-md-4 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                     <label class="control-label col-md-1 col-sm-3 col-xs-12">Статус</label>
                      <div class="col-md-4 col-sm-9 col-xs-12">
                            <select [ngModel]="selectedCourseStatus" 
                                    (ngModelChange)="onChangeObj($event)" 
                                    name="courseStatus"
                                    [disabled]="submitted"
                                    class="form-control col-md-4 col-xs-12">
                            <option [ngValue]="i" *ngFor="let i of _courseStatusList">{{i.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" align="center"  [hidden]="submitted">
                        <button type="submit" class="btn btn-success" [disabled]="!courseForm.form.valid">Підтвердити</button>
                    </div>
                </form>
                <div class="form-group" align="center" [hidden]="!submitted" *appLayout="'courseScope.editButton'">
                    <a class="btn btn-success"  (click)="formReset()"><i class="fa fa-edit m-right-xs"></i>Редагувати</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" >
        <div class="x_panel">
            <div class="x_title">
            <h2>Лекції <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <lectures-table></lectures-table>
            </div>
        </div>
    </div>
    <div class="clearfix" style="min-height: 100px;"></div>
</div>
<div class="row">
    <div class="col-md-12" >
        <div class="x_panel collapsed">
            <div class="x_title">
            <h2>Студенти <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>

            <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <students-table></students-table>
            </div>
        </div>
    </div>
    <div class="clearfix" style="min-height: 100px;"></div>
</div>
