<!--<body class="login">-->
	<div class='login'>
		<a class="hiddenanchor" id="signup"></a>
		<a class="hiddenanchor" id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form>
						<h1>ІМЕМ</h1>
						<!--<div>
							<input [(ngModel)]="user.email" name="email" type="text"
									class="form-control"
									placeholder="Username" 
									required 
									#emailModel="ngModel"
									(focus)="isShowError=false"
									tabindex="1" />
							<div [hidden]="emailModel.valid || emailModel.pristine" class="bg-danger text-danger">
								Email is required
							</div>
						</div>

						<div>
							<input [(ngModel)]="user.password" name="password" type="password"
									class="form-control" placeholder="Password" required 
									#passwordModel="ngModel"
									(focus)="isShowError=false"
									tabindex="2"/>
						     <div [hidden]="passwordModel.valid || passwordModel.pristine" class="bg-danger text-danger">
								Password is required
							 </div>
               				<div [hidden]="!isShowError" class="bg-danger text-danger">
								User not found / wrong password
							 </div>
						</div>-->
						<div>
							<!--<div class="btn btn-default submit" (click)="login(1)" id="googleBtn">student</div>
							<div class="btn btn-default submit" (click)="login(2)" id="googleBtn">admin</div>-->
							<!--<div class="btn btn-default submit" id="googleBtn">
							</div>-->
							<div class="btn btn-default submit" (click)="login()">Увійти за допомогою Google</div>
							<!--<a class="btn btn-default submit" (click)="login()" routerLink="" tabindex="3">Увійти</a>-->
							<!--<a class="reset_pass" routerLink="/restorepassword" tabindex="4">Забув пароль?</a>-->
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<div class="clearfix"></div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
<!--</body>-->