<!--<div class="row">

	<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Курси учбового порталу ІМЕМ"
        [items]="courses"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'Name'"
            [header]="'Назва'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'StartDate'"
            [header]="'Початок'"
            [sortable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.StartDate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
		<data-table-column
            [property]="'EndDate'"
            [header]="'Кінець'"
            [sortable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.EndDate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            *ngIf="!isMinVersion"
            [property]="'CourseStatus'"
            [header]="'Статус'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Lecturer'"
            [header]="'Викладач'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

    </data-table>
</div>
</div>
<div class="clearfix"></div>-->