<div class="page-title">
	<div class="title_left">
		<h3>Список заявок студентів на курси</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Заявки</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><i class="fa  fa-clock-o" aria-hidden="true" style="font-size: 32pt;"></i>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
			<p-growl [value]="msgs" [life]="2000"></p-growl>
			<div class="" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
					<li role="presentation" class="active"><a href="#tab_content1" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Портал</a>
					</li>
					<li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Курси</a>
					</li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
						<!-- start project list -->
						<p-dataTable 
							[value]="portalData"
							[paginator]="true"
							[rows]="5"
							[pageLinks]="3"
							[rowsPerPageOptions]="[5,10,20]"
							emptyMessage="Немає результатів">

							<p-column header="Ім'я"
								field="Name"
								[sortable]="true"
								[filter]="true"
								filterMatchMode="contains"
								[filterPlaceholder]="">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center;" class="btn btn-link request-content">
										<a [routerLink]="['/dashboard/students/' + request.StudentId]" >
										<span class="request-content">
											{{request.Name}}
										</span>
										</a>
									</div>
								</ng-template>
							</p-column>
							<p-column header="Подано"
								field="Date"
								[sortable]="true"
								[filter]="true"
								filterMatchMode="contains"
								[filterPlaceholder]="">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center">
										<span class="request-content">
											{{request.Date | date: 'dd/MM/yyyy'}}
										</span>
									</div>
								</ng-template>
							</p-column>
							<p-column header="Статус">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center">
										<span *ngIf="request.Status == 0" class="label label-default">В очікуванні</span>
										<span *ngIf="request.Status == 1" class="label label-default">Прийнято</span>
										<span *ngIf="request.Status == 2" class="label label-default">Відмовлено</span>
									</div>
								</ng-template>
							</p-column>
							<p-column>
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center">
										<a class="btn btn-success btn-xs" (click)="acceptItem(request)"><i class="fa fa-check"></i> Прийняти </a>
										<a class="btn btn-warning btn-xs" (click)="declineItem(request)"><i class="fa fa-pencil"></i> Відмовити </a>
									</div>
								</ng-template>
							</p-column>
						</p-dataTable>
						<!-- end project list -->
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
						<p-dataTable 
							[value]="courseRequestData"
							[paginator]="true"
							[rows]="5"
							[pageLinks]="3"
							[rowsPerPageOptions]="[5,10,20]"
							emptyMessage="Немає результатів">

							<p-column header="Ім'я"
								field="Name"
								[sortable]="true"
								[filter]="true"
								filterMatchMode="contains"
								[filterPlaceholder]="">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center" class="btn btn-link">
										<a [routerLink]="['/dashboard/students/' + request.StudentId]">
											<span class="request-content">
											{{request.Name}}
											</span>
										</a>
									</div>
								</ng-template>
							</p-column>
							<p-column header="Подано"
								field="Date"
								[sortable]="true"
								[filter]="true"
								filterMatchMode="contains"
								[filterPlaceholder]="">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center">
										{{request.Date | date: 'dd/MM/yyyy'}}
									</div>
								</ng-template>
							</p-column>
							<p-column header="Курс"
								field="CourseName"
								[sortable]="true"
								[filter]="true"
								filterMatchMode="contains"
								[filterPlaceholder]="">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center" class="btn btn-link">
										<a [routerLink]="['/dashboard/courses/']">
											<span class="request-content">
												{{request.CourseName}}
											</span>
										</a>
									</div>
								</ng-template>
							</p-column>
							<p-column header="Статус">
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center">
										<span *ngIf="request.Status == 0" class="label label-default">В очікуванні</span>
										<span *ngIf="request.Status == 1" class="label label-default">Прийнято</span>
										<span *ngIf="request.Status == 2" class="label label-default">Відмовлено</span>
									</div>
								</ng-template>
							</p-column>
							<p-column>
								<ng-template let-request="rowData" pTemplate="body">
									<div style="text-align: center">
										<a class="btn btn-success btn-xs" (click)="acceptItem(request)"><i class="fa fa-check"></i> Прийняти </a>
										<a class="btn btn-warning btn-xs" (click)="declineItem(request)"><i class="fa fa-pencil"></i> Відмовити </a>
									</div>
								</ng-template>
							</p-column>
						</p-dataTable>
					</div>
				</div>
			</div>
			
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
