<style>
</style>
<div class="row">
    <data-table id="persons-grid"
        headerTitle="Students"
        [items]="students"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'FirstName'"
            [header]="'FirstName'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'LastName'"
            [header]="'LastName'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'LastName'"
            [header]="'LastName'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'StudentStatus'"
            [header]="'Status'"
            [sortable]="true"
            [resizable]="true">
            <template #dataTableCell let-item="item">
                <span>{{transforStudentStatus(item.StudentStatus)}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'Faculty'"
            [header]="'Faculty'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Course'"
            [header]="'Course'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Group'"
            [header]="'Group'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Department'"
            [header]="'Department'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

    </data-table>
</div>
<div class="clearfix"></div>