<div class="page-title">
    <div class="title_left">
        <h3>Загальна інформація про лекцію</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Лекція [NAME]</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="" (click)="navigateToParent()"><i class="fa fa-reply-all"></i><b> Назад</b></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left"  #courseForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Назва</label>
                        <input class="form-control" value="Базова Лекція" required [readonly]="submitted">
                    </div>
                    <div class="form-group">
                        <label>Опис</label>
                        <textarea style="height:200px;"
                            class="resizable_textarea form-control"
                            [readonly]="submitted"
                            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
                    </div>
                    <div class="form-group" align="center"  [hidden]="submitted">
                        <button type="submit" class="btn btn-success" [disabled]="!courseForm.form.valid">Підтвердити</button>
                    </div>
                </form>
                <div class="form-group" align="center" [hidden]="!submitted">
                    <a class="btn btn-success"  (click)="formReset()"><i class="fa fa-edit m-right-xs"></i>Редагувати</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="comment-section" tabindex="0">
    <div class="col-md-12" >
        <div class="x_panel">
            <div class="x_title">
            <h2>Коментарі <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a (click)="commentSection.toggleCommentSection()"><i class="fa fa-plus"></i></a>
                </li>
            </ul>

            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <comment-section #commentSection></comment-section>
                <div class="clearfix" style="min-height: 100px;"></div>
            </div>
        </div>
    </div>
</div>