<div class="row">
	<!--<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Courses</h2>

				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="datatable" class="table hover table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Status</th>
							<th>Lecturer</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>-->
	<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Courses"
        [items]="courses"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'Name'"
            [header]="'Name'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'StartDate'"
            [header]="'Start Date'"
            [sortable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.StartDate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
		<data-table-column
            [property]="'EndDate'"
            [header]="'End Date'"
            [sortable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.EndDate | date:'dd-MM-yyyy'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            [property]="'CourseStatus'"
            [header]="'Status'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Lecturer'"
            [header]="'Lecturer'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

    </data-table>
</div>
</div>
<div class="clearfix"></div>