<div class="col-sm-offset-4 col-sm-4 form">
	<section class="login_content">
		<form>
			<h1>Restore password: </h1>
			<div>
				<input type="email" class="form-control" placeholder="Email" required="" />
			</div>
			<div>
				<a class="btn btn-default submit" href="index.html">Submit</a>
			</div>

			<div class="clearfix"></div>
			<div class="separator">
				<p class="change_link">
					<a routerLink="/login" class="to_register"> Back</a>
				</p>
				<div class="clearfix"></div>
			</div>
		</form>
	</section>
</div>