<!--<div class="row">
	<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Леккції:"
        [items]="lectures"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'Name'"
            [header]="'Назва'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Date'"
            [header]="'Дата'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Description'"
            [header]="'Опис'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
    </data-table>
</div>
</div>
<div class="clearfix"></div>-->